*{
    margin: 0%;
    padding: 0%;
}
header, aside, main, footer {
    border: 1px solid black;
    margin: 1%;
}
#container{
    border: solid 1px red;
   height: 99%;
   width: 99%;
    position: absolute;
}
header{
    height: 5%;
    text-align: center;
    padding: 5%;
    
}
aside{
    float:  left;
    width: 27%;
    height: 23%;
    overflow : auto; 
    

}
main{
    align-content: center;
    float: right;
    width: 66%;
    height: 71%;
    padding: 1%;
    
}
footer{
    float: left;
    margin: auto;
    text-align: center;
    height: 40px;
    width: 100%;
    background-color: aqua;
}
section{
    margin: 1%;
    float: left;
    height: 25%;
    width: 30%;
    border: 1px solid black;
}
