*{
    margin: 0%;
    padding: 0%;
}

#container{
   background-color: rgba(142, 248, 248, 0.623);
   height: 99%;
   width: 99%;
   position: absolute;
}
header{
    height: 5%;
    padding: 3%;
    
}
aside{
    float:  left;
    width: 27%;
    height: 23%;
    overflow : auto;
    margin: 1%; 
    

}
main{
    align-content: center;
    float: right;
    width: 66%;
    height: 71%;
    
}
footer{
    float: left;
    margin: auto;
    text-align: center;
    height: 40px;
    width: 100%;
    
}
section{
    margin: 1%;
    float: left;
    height: 25%;
    width: 30%;
    min-width: 50px;
    max-width: 300px;    
}
#pie1{
    float: left;
    text-align: center;
    width: 33%;
}
#pie2{
    float: left;
    text-align: center;
    width: 33%;
}
#pie3{
    float: left;
    text-align: center;
    width: 33%;
}